.control-group
  = phone.label :phoneNumber
  .controls
    = phone.text_field :countryCode, :class => "input-micro"
    = phone.text_field :phoneNumber, :class => "input-small"
    = phone.text_field :extension, :class => "input-mini"
