.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      .pull-right
        = link_to "Source on GitHub", "https://github.com/paypal/adaptivepayments-sdk-ruby", :class => "btn btn-small"
        %span.btn.btn-info.btn-small.disabled Click Submit to Generate Code !
      %a.brand{:href => "#"} PayPal SDK
      .nav-collapse.collapse
        %ul.nav
          = active_li_regexp "Adaptive Payments", adaptive_payments_path
